.NewLanding{
    height: 130vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.NewLanding--TopContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NewLanding--Left{
    height: 65vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(5vw,10vh);

}

.NewLanding--LeftHeading{
    font-size: 7rem;
    text-transform: uppercase;
    color: #fff;
}

.NewLanding--LeftHandingSpan{
    color: #6565FF;
}

.NewLanding--LeftPara{
    color: #fff;
    font-weight: 300;
    font-size: 3rem;
}

.NewLanding--Right{
    height: 80vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(7vh);
}

.NewLanding--RightImg{
    height: 90%;
    width: auto;
}

.NewLanding--BottomContainer{
    height: 25vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.NewLanding--Arrow{
    height: 9vh;
}

@media (max-width: 420px){
    .NewLanding{
        height: 135vh;
    }

    .NewLanding--TopContainer{
        height: 60vh;
        margin-top: 10vh;
    }

    .NewLanding--Left{
        width: 100%;
        transform: translate(0, 0);
        align-items: center;
        height: 45vh;
    }

    .NewLanding--Right{
        display: none;
    }

    .NewLanding--BottomContainer{
        height: 65vh;
        width: 100%;
        margin-bottom: 0;
        margin-top: 0;
        flex-wrap: wrap;
    }

    .NewLanding--LeftHeading{
        font-size: 4rem;
        text-align: center;
    }

    .NewLanding--LeftPara{
        font-size: 2rem;
        text-align: center;
    }

    .NewLanding--Arrow{
        display: none;
    }
}

@media(max-width: 375px){
    .NewLanding--LeftHeading {
        font-size: 3.7rem;
    }

    .Footer {
        height: 44vh;
    }

}

@media(max-width: 360px){
    .NewLanding--LeftHeading {
        font-size: 3.5rem;
    }

    .Features--Option {
        font-size: 1.75rem;
    }
}

@media(max-width: 320px){
    .NewLanding--LeftHeading {
        font-size: 3rem;
    }

    .NewLanding--LeftPara {
        font-size: 1.65rem;
    }
}

@media only screen and (device-width: 768px){
    .NewLanding {
        height: 100vh;
    }
    .NewLanding--TopContainer {
        height: 75vh;
    }
    .NewLanding--Left {
        height: 45vh;
        width: 100%;
        transform: translate(0,10vh);
        align-items: center;
        text-align: center;
    }
    .NewLanding--Right{
        display: none;
    }

    .NewLanding--BottomContainer {
        width: 100%;
    }

    .NewLanding--Arrow {
        height: 8vh;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2){
    .NewLanding {
        height: 100vh;
    }
    .NewLanding--TopContainer {
        height: 75vh;
    }
    .NewLanding--Left {
        height: 45vh;
        width: 100%;
        transform: translate(0,10vh);
        align-items: center;
        text-align: center;
    }
    .NewLanding--Right{
        display: none;
    }

    .NewLanding--BottomContainer {
        width: 100%;
    }

    .NewLanding--Arrow {
        height: 8vh;
    }

    .NewLanding--LeftHeading{
        font-size: 9rem;
    }

    .NewLanding--LeftPara {
        font-size: 4.5rem;
    }
}