.TopCompany{
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.TopCompany--Table{
    height: 75%;
    width: 80%;
    background-color: #fff;
    border-radius: 3rem;
}

.TopCompany--Apply{
    background: #6566FF;
    border-radius: 30px;
    color:white;
    border: none;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 0.5px;
}