.BestWorkDes{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.BestWorkDes--Upload{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BestWorkDes--Form{
    min-height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BestWorkDes--Input{
    display: none;
}

.BestWorkDes--Btn{
    position: absolute;
    bottom: 5%;
    right: 4%;
    font-size: 2rem;
    text-decoration: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.BestWorkDes--Btn:hover{
    color: #6566FF;
}

.BestWorkDes--UploadImgs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.BestWorkDes--UploadImg{
    width: auto;
    margin-bottom: 3rem;
    margin-right: 4vh;
    height: 10vh;
}