.Developer--Wrapper{
    display: flex;
    flex-direction: column;
}

.Developer{
    min-height: 100vh;
    width: 100vw;
    background-color: #13141F;
    display: flex;
}

.Developer--Content{
    min-height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 12vh;
    margin-left: 3vw;
}

.Developer--Inspiration{
    height: 90vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Developer--InspirationCards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}