.RecruiterUser{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.RecruiterUser--Logo{
    height: 10vh;
    width: auto;
    position: absolute;
    top: 5%;
    left: 5%;
}

.RecruiterUser--Signup{
    height: 80vh;
    width: 30vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.RecruiterUser--SignupForm{
    height: 55vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.RecruiterUser--Title{
    color: #fff;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.RecruiterUser--Subtitle{
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
}

.RecruiterUser--Button{
    text-decoration: none;
    background-color: transparent;
    padding: 1rem 5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    border: 0.7px solid #fff;
    border-radius: 4rem;
    cursor: pointer;
}

.RecruiterUser--Button:hover{
    background: transparent linear-gradient(271deg, #52618D 0%, #63437F 46%, #327A6E 100%) 0% 0% no-repeat padding-box;
    border: none;
}

.RecruiterUser--Button:focus{
    outline: none;
}

.RecruiterUser--Company{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 5vw;
    align-self: flex-end;
    cursor: pointer;
}

.RecruiterUser--Login{
    height: 55vh;
    width: 30vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.RecruiterUser--LoginForm{
    height: 30vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.RecruiterUser--ForgotPwd{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.RecruiterUser--ForgotPwd:hover, .RecruiterUser--Company:hover{
    color: #6565FF;
}

.RecruiterUser--Terms{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;
}

.RecruiterUser--LoginLinks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
