.ForgotPwd{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgotPwd--Form{
    height: 30vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ForgotPwd--Title{
    color: #6565FF;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}