.Skills{
    border: 1px solid #000;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.Skills--Heading:hover{
    color: #6565FF;
}

.Skills--Heading{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    padding-right: 1.5rem;
}

.Skills--Img{
    height: 3vh;
    cursor: pointer;
}
