.Sidenav{
    height: 45vh;
    width: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0.8rem solid #373A73;
    border-radius: 9rem;
    position: sticky;
}

.Sidenav--Item{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sidenav--Img{
    height: 80%;
    width: auto;
}