.Footer{
    height: 45vh;
    width: 100vw;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.Footer--Links{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.Footer--Heading{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.Footer--Subheading{
    font-size: 3.8rem;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

.Footer--Social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vw;
}

.Footer--SocialLinksImg{
    height: 7vh;
    width: auto;
    padding-right: 2rem;
}

.Footer--SocialLogo{
    width: 10vw;
    height: auto;
    padding-bottom: 2rem;
}