.RecInfo{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.RecInfo--Logo{
    height: 10vh;
    width: auto;
    position: absolute;
    top: 5%;
    left: 5%;
}

.RecInfo--Left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.RecInfo--LeftText{
    font-size: 5rem;
    color: #fff;
    text-align: justify;
    font-weight: 400;
    margin-left: 5vw;
    margin-right: 3vw;
}

.RecInfo--Right{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RecInfo--RightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.RecInfo--RightHeading{
    font-size: 4.5rem;
    font-weight: 400;
    padding-bottom: 5vh;
}

.RecInfo--NextInfo{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer; 
    font-family: 'Lato', sans-serif;
}

.RecInfo--NextInfo:hover{
    color: #6565FF;
}

.RecInfo--NextInfo:focus{
    outline: none;
}

.RecInfo--BackInfo{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer; 
}

.RecInfo--BackInfo:hover{
    color: #a15de4;
}