.DashNavbar{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    background-color: #13141F;
}

.DashNavbar--Logo{
    height: 11vh;
    width: auto;
    margin-left: 5vw;
}

.DashNavbar--Links{
    height: 100%;
    width: 50%;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.DashNavbar--Link{
    letter-spacing: 0.92px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
}

.DashNavbar--Img{
    height: 6vh;
    width: 6vh;
    background-color: #fff;
    border-radius: 50%;
}